/*  Colors */
$white: rgb(255, 255, 255);
$gray: #f9fafb;

$slate-100: rgb(241, 245, 249);
$slate-300: rgb(203, 213, 225);
$slate-500: rgb(100, 116, 139);
$slate-600: rgb(71, 85, 105);
// $slate-700: rgb(51, 65, 85);
$slate-900: rgb(15, 23, 42);

$emerald: #10b981;
$emerald-darker: #059669;

$red: #f15b5b;
$red-text: #ef4444;
$red-darker: #f04242;

$blue-shadow: rgb(143, 189, 236);
